body{
  background-image: url('images/trianglle_tracker.jpg');
  font-size: 200%
}
h1{
  text-align: center;
  margin-bottom: 50px;
  color: blue;

}
div{
  text-align: center;
  margin-top: 20px;
  color: white;
}
p {
  color: white;
}
